<script>
    function myFunction() {
        var x = document.getElementById("myDIV");
        if (x.style.visibility === "visible") {
            x.style.visibility = "hidden";
        } else {
            x.style.visibility = "visible";
        }
    }

    function addFunction() {
        var x = document.getElementById("myDIV");
        if (x.style.visibility === "visible") {
            x.style.visibility = "hidden";
        } else {
            x.style.visibility = "visible";
        }
    }

    function borderFunction() {
        var x = document.getElementById("studybutton");
        x.style.borderStyle = "solid";
        x.style.borderWidth = "6px";
    }
</script>
</body>
</html>