<!DOCTYPE html>
<html lang="en">

    <head>
        <title>EDUCATION</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../style/style.css">
    </head>
    <body>
        <nav class="nav">
            <!-- <a class="header-button" href="/index">START</a>&nbsp;&nbsp; -->
            <!-- <a class="header-button" href="/about">OM</a>&nbsp;&nbsp; -->
            <a class="header-button" href="/study">Study</a>&nbsp;&nbsp;
            <a class="header-button2" href="/quiz">Quiz</a>&nbsp;&nbsp;
            <a class="header-button3" href="/add">Add Question</a>&nbsp;&nbsp;
        </nav>